<form class="" action="<%= post_likes_path post %>" method="Post">

  <input type="submit" name="" value="Like">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
</form>
