<form class="" action="<%= post_like_path post %>" method="Post">
  <input name="_method" type="hidden" value="DELETE" />

  <input type="submit" class="btn btn-outline-info" value="Unlike">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
</form>
